
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

body {
 background-image: url("https://dot-ry.fi/graffathon-2023-bg.png");
 background-color: #cccccc;
 background-position: center;
 background-size: cover;
}

section > div.container {
 font-family: 'Figtree', sans-serif;
}
